#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* Container */
.container {
  margin-top: 3rem;
  background-image: url("../public/frezzer-room.png");
  height: 950px;
  width: 100%;
}

/* Heading */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* Message Box */
.fixed {
  position: fixed;
  top: 1rem;
  right: calc(var(--spacing) * 5);
  padding: 1rem;
}

.error {
  background-color: rgb(255, 70, 70);
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.check {
  background-color: rgb(40, 200, 120);
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
/*  */

/* komplett durchsichtig  */
.fridge {
  background-color: transparent;
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

/* Left Side */
.leftSide {
  margin-top: 2rem;
  width: 66%;
  margin-bottom: 1rem;
}

.dropbox {
  height: 10rem;
  width: 26rem;
  margin-left: 12rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: calc(var(--spacing) * 5);
}

.frozenMeal {
  background-color: rgb(235, 248, 255, 0.1);
}

.readyMeal {
  background-color: rgb(250, 240, 137, 0.1);
}

.meatFishDairy {
  background-color: rgb(254, 178, 178, 0.1);
  height: 9rem;
}

.fruitAndVeggie {
  display: flex;
  width: 75%;
}

.fruits {
  background-color: rgb(198, 246, 213, 0.1);
}

.veggie {
  margin-left: 0.5rem;
  width: 60%;
  background-color: rgb(154, 230, 180, 0.1);
}

/* Right Side */
.rightSide {
  margin-top: 3rem;
  margin-left: -12rem;
}

.eggs {
  background-color: rgb(254, 215, 170, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 20rem;
  height: 8rem;
}

.sauces {
  background-color: rgb(233, 216, 253, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 20rem;
  height: 8rem;
  margin-top: 2rem;
}

.drinks {
  background-color: rgb(235, 248, 255, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 20rem;
  height: 14rem;
  margin-top: 8rem;
}

/* Draggable Items */
.itemCards {
  margin-top: 10rem;
}
.grid {
  display: grid;
}

.grid-cols-4 {
  grid-template-columns: repeat(8, 1fr);
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.transform {
  transform: scale(1);
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.transition-transform {
  transition: transform 0.2s ease-in-out;
}

.order {
  display: flex;
}
.leftSide {
  flex: 1;
}
