* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.singleCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.singleCard:hover {
  transform: scale(1.05);
}

.singleCard img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.singleCard h1 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

/* CSS-Klassen für die verschiedenen Kategorien */
.drinks {
  border: 2px solid red;
}

.vegetables {
  border: 2px solid green;
}

.fruits {
  border: 2px solid yellow;
}

.tinned_food {
  border: 2px solid orange;
}

.sauces {
  border: 2px solid purple;
}

.fishAndMeat {
  border: 2px solid blue;
}

.dairy {
  border: 2px solid pink;
}

.ready {
  border: 2px solid brown;
}

.eggs {
  border: 2px solid cyan;
}

.frozen {
  border: 2px solid magenta;
}
