* {
  box-sizing: border-box;
}

.cardContainer {
  border: 1px solid blue;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleCard {
  border: 1px solid black;
  width: 50%;
  height: 25%;
}
